/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/phpunit.xml
.idea/Proyecto 2 IAW.iml
.idea/vcs.xml
.idea/workspace.xml
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Proyecto 2 IAW/v16/.suo
